@media (max-width: 1520px) 
{
    h1 {
        font-size: 6rem;
        line-height: 6rem;
        margin: 0 0 2rem 0;
    }
    section#main .welcome {
        margin-top: -145px;
    }
    section#main .container .content .description{
        margin:2rem 0;
    }
    section#main .container .btn.btn-yellow.biggest img {
        height: 3.5rem;
    }
    .download-beta-game h2 {
        font-size: 6rem;
        line-height: 4rem;
    }
    section#main .container .token-integration {
        flex-direction: row;
    }
    section#main .container .btn.btn-yellow.biggest.token-integration img {
        margin-right:1rem;
    }
    .badge {
        font-size: 1.3rem;
        padding: 0.75rem;
    }
    section#main .container .btn.btn-yellow.biggest.download {
        padding-bottom: 3.5rem;
    }
}

@media (max-width: 1359px) 
{
    .container{
        width:1200px;
        padding:0 2.5rem;
    }
    h1 {
        font-size: 5.5rem;
        margin: 0 0 2.5rem 0;
    }
    h2 {
        font-size: 7.8rem;
        line-height: 6.5rem;
    }
    h2 span {
        font-size: 5.2rem;
    }
    h2.green,
    h2.orange {
        font-size: 5rem;
        max-width: 55%;
    }
    h2.blue,
    h2.yellow {
        font-size: 5rem;
    }
    h3 {
        font-size: 3.2rem;
        line-height: 4rem;
        margin: 0 0 2.5rem 0;
    }
    p {
        margin: 2.5rem 0;
    }
    p, li, p *, li * {
        font-size: 1.5rem;
    }
    table td, table th {
        padding: 1rem 2rem;
    }
    #logo{
        width:135px;
    }
    header #logo img {
        width: 300px;
        margin: -32px 0;
        transform: translateX(-90px);
    }
    header nav ul li a {
        padding: 0 1rem;
    }
    section#main .container .content .description {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }
    section#contract-address, 
    section#download-beta-game, 
    section#download {
        padding-top: 10rem;
    }
    section#highlights h3, 
    section#game-features h3 {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }
    section#collection div.nft {
        margin-top: 7rem;
    }
    section#game-features .glow {
        left: -330px;
    }
    section#collection {
        padding: 6rem 0;
    }
    section#collection h2 {
        margin-bottom: 4rem;
    }
    section#collection h3 {
        font-size: 4.5rem;
        line-height: 5rem;
    }
    section#roadmap h3 {
        font-size: 5.5rem;
        line-height: 6.5rem;
    }
    section#our-rockstars, 
    section#our-partnership {
        padding: 6rem 0 0 0;
    }
    section#our-partnership {
        padding-bottom: 8rem;
    }
    section#highlights .col-4 {
        padding: 3rem;
    }
    section#our-rockstars img{
        height: 150px;
    }
    section#our-rockstars .glow, 
    section#blog .glow, 
    section#advisors .glow, 
    section#in-the-news .glow {
        left: 457px;
        top: -306px;
    }
    section#in-the-news h2, 
    section#our-partnership h2 {
        margin-bottom: 4rem;
    }
    section#blog {
        padding: 8rem 0 8rem 0;
    }
    section#blog h3, section#in-the-news h3 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    section#join-community img.bg {
        width: 360px;
        top:-10px;
    }
    section#join-community {
        min-height: 500px;
    }
    section#game-features h2 {
        margin-bottom: 3rem;
    }
    #partnership-request .img-panel, 
    #bug-report-form .img-panel {
        width: 250px;
    }
    #bug-report-form .img-panel img.alien {
        margin-left: -7rem;
    }
    #bug-report-form .panel h2 {
        font-size: 2.2rem;
        line-height: 2.5rem;
        margin:0 0 2.5rem 0;
    }
    #bug-report-form .report {
        margin-top: 8rem;
    }
    section#download .desktop {
        padding-right: 15rem;
    }
    section#download .mobile {
        padding-left: 15rem;
    }
    section#download ul.list {
        margin-bottom: 2.5rem;
    }
    .download-beta-game {
        padding: 0 2.5rem;
    }
    .download-beta-game img {
        height: 424px;
    }
    .download-beta-game h2 {
        font-size: 5.5rem;
        line-height: 4rem;
    }
    .download-beta-game h2 span {
        font-size: 3.7rem;
        line-height: 4.7rem;
    }
    section#main .welcome {
        margin-top: -110px;
    }
    .form-group {
        margin-bottom: 2.5rem;
    }
    .text-content h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .text-content h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin: 2.5rem 0;
    }
    .text-content h3 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 2.5rem 0;
    }
    .text-content h4, .text-content h5, .text-content h6 {
        font-size: 1.8rem;
        line-height: 2rem;
        margin: 2.5rem 0;
    }
    .container.page {
        padding: 20rem 3rem 6rem 3rem;
    }
    .page-side-panel h4 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .page-side-panel ul {
        margin: 2rem 0 0 0;
    }
    .page-side-panel {
        width: 340px;
    }
    
    .tabs-content img.to-bottom {
        margin-bottom: -3rem;
    }

    .grid-list img {
        width: 80%;
    }
    .form label {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .text-bigger {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    ul.tabs li {
        padding: 1rem 2rem;
    }

    .panel,
    section#highlights .panel {
        padding: 3rem;
    }

    .btn.biggest {
        padding: 2rem 3rem;
        font-size: 2.4rem;
    }

}